<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="r4bot">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find arm)/description/urdf/r4bot_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:arm/>

  <!-- Import r4bot ros2_control description -->
  <xacro:include filename="$(find arm)/description/urdf/r4bot.ros2_control.xacro" />
  <xacro:r4bot_ros2_control name="r4bot"/>

</robot>
