<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="end_effector_offset_x" value="0.06"/>
    <xacro:property name="green" value="0.2 0.8 0.2 1.0"/>

    <!-- End effector frame (for convenience in motion planning) -->
    <joint name="end_effector_roll_joint" type="fixed">
        <parent link="gripper_base"/>
        <child link="end_effector_roll"/>
        <origin xyz="${end_effector_offset_x} 0 0" rpy="0 0 0"/>
        <!--
        <axis xyz="1 0 0"/>
        <limit effort="0.0" lower="-3.14" upper="3.14" velocity="1"/>
    -->
    </joint>

    <link name="end_effector_roll">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="end_effector_roll_material">
            <color rgba="${green}"/>
        </material>
        </visual>
    </link>

    <joint name="end_effector_yaw_joint" type="fixed">
        <parent link="end_effector_roll"/>
        <child link="end_effector_yaw"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <!--
        <axis xyz="0 0 1"/>
        <limit effort="0.0" lower="-3.14" upper="3.14" velocity="1"/>
    -->
    </joint>
    <link name="end_effector_yaw">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="end_effector_yaw_material">
            <color rgba="${green}"/>
        </material>
        </visual>
    </link>

    <!-- End effector frame -->
    <joint name="end_effector_joint" type="fixed">
        <parent link="end_effector_yaw"/>
        <child link="end_effector_frame"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="end_effector_frame">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="end_effector_roll_material">
            <color rgba="${green}"/>
        </material>
        </visual>
    </link>

    <gazebo reference="end_effector_roll">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="end_effector_yaw">
        <material>Gazebo/Green</material>
    </gazebo>

    <!-- End effector frame material -->
    <gazebo reference="end_effector_frame">
        <material>Gazebo/Green</material>
    </gazebo>

</robot>